<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAbA6V_HyNtbEogtA8ltGhpxTVn23A_oH_7n0_3g0PHDmJleqwMBQM7TxiELIcZnsty1lkjYfvFIOW3A"></script>

<div id="map" style="width: 60%; height: 350px"></div>

<div id="accordion">
  <div id="hunts" class="right-container">
    <div class="right-heading">
      <%= image_tag '1.png', :class => "dropcap" %><h2>Choose a Treasure Hunt</h2>
    </div>
    <div class="right-content">
      <ul id="hunt-list">
      <% current_user.hunts do |h| %>
        <li><a href="#" id="pick-hunt-<%=h.id%>"><%= h.name %></a></li>
      <% end %>
      </ul>
      <div class="btn-center">
        <input type="button" id="hunt-new-link" value="add new hunt">
      </div>
    </div>
  </div>
  <div id="add-clues" class="right-container">
    <div class="right-heading">
      <%= image_tag '2.png', :class => "dropcap" %><h2>Add Clues</h2>
    </div>
    <div class="right-content">
      <div class="right-content-body">
      </div>
      <div id="treasure-new" class="right-content-footer">
        <form>
        <ul>
          <input type="hidden" id="hunt_id" value="">
          <li>
            <label for="name">Name</label><input class="span-all" type="text" id="name">
          </li>
          <li class="horiz">
            <div class="unwrap">
              <label for="lat">Latitude</label><input class="span-half" type="text" id="lat">
            </div>
            <div class="unwrap">
              <label for="lng">Longitude</label><input class="span-half" type="text" id="lng">
            </div>
          </li>
          <li><input type="submit" value="add treasure" id="treasure-new-submit"></li>
        </ul>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="hunt-new" class="right-container">
  <div class="right-heading"><h2>Choose a Treasure Hunt</h2></div>
  <div class="right-content">
    <form>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
      <label for="hunt-new-name">New Treasure Hunt's Name</label><input id="hunt-new-name">
      <div class="btn-center">
        <input type="submit" id="hunt-new-submit" value="create">
      </div>
    </form>
  </div>
</div>
<%= javascript_include_tag 'pirate' %>