<div class="header">
<h2>Hunt: <%= current_user.hunt.name %></h2>
</div>



<div class="sms-reminder">
	<h3>Reminder: To text your discoveries:</h3>
	<ol>
		<li>Make sure you have signed up for zeep </li>
		<li>Send a text message to 88147</li>
		<li>IMPORTANT: Prefix your message with "azimuth1 " (no quotes, but include the trailing space)</li>
		<li>Include your key or the latitude/longitude coordinates.  For example: </li>
	</ol>
	<i>azimuth1 38.012411 -78.515275</i><br />
	OR<br />
	<i>azimuth1 treasurekey</i>
</div>

<div id="hunt-clue">
  <h4>Your Clue</h4>
  <%= @treasure.clue %>
  
  <% if @treasure.key_only? %>
    <p><i>
      This treasure can only be found by going to the location described and finding some sort of key to send back, there is no lat/lng coordinates!
    </i></p>
  <% end %>
  
  <div id="discovery">
  <% form_for(@discovery, :url => { :controller => "hunters", :action => 'check_clue' } ) do |f| %>
    <%= f.error_messages %>

    <% if @treasure.key_only? %>
    <h4>Found the clue? Enter the key</h4>
    <% else %>
    <h4>Found the clue? Enter the key or coordinates</h4>
      <div class="discovery-cell">
      Latitude:<br>
      <%= f.text_field :lat %><br>
      Longitude:<br>
      <%= f.text_field :lng %>
    </div>
    <% end %>
    <div class="discovery-cell">
      Key:<br>
      <%= f.text_field :key %><br><br>
      <%= f.submit "Attempt Open Chest" %>
    </div>
  <% end %>
  </div>
  <span id="progress"></span>
</div>