<div id="accordion">
  <div id="hunt-list" class="long">
    <div class="heading">
        <%= image_tag '1.png', :class => "dropcap" %><h2>Choose a Treasure Hunt to Start your Quest</h2>
    </div>
    <div class="content">
      <p>
        Welcome! To start a treasure hunt, choose one of the hunts already created by your peers. 
        You will see the first clue and can proceed from there.
      </p>
      
      <% if @hunts.empty? %>
      <p>
        Currently there are no hunts being planned, everybody is out there looking for treasure!  Why don't you <%= link_to "Create a new Hunt", :controller => :pirate %>?   
      </p>
      <% end %>
      
      <ul>
        <% @hunts.each do |hunt| %>
        <li>
          <%= link_to hunt.name, :action => :start, :id => hunt.id %> [<%= hunt.treasures.size %> treasures]: <%= hunt.description %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="clue-list" class="long">
    <div class="heading">
        <%= image_tag '2.png', :class => "dropcap" %><h2>Start your first clue</h2>
    </div>
    <div class="content">
    </div>
  </div>
</div>

<%= javascript_include_tag 'hunter' %>