<% if current_user %>
  <div id="business-card">
    <div id ="card-icon">
      <div id = "gravatar">
        <%= link_to gravatar_for(current_user, {:class => 'photo'}) , :controller => :users,:action => :profile unless current_user.email.blank? %>
      </div>
      <div id = "username">
	      <%= link_to current_user.short_login, :controller => :users,:action => :profile %>
	    </div>
	  </div>
	  <div id = "hunter-info">
	    <%= "My current hunt: "%>
	    <% if current_user.hunt %>
	      <%= link_to current_user.hunt.short_name, hunt_path(current_user.hunt) %> <br> <%= link_to "Change Hunt", :controller => 'hunters', :action => 'change_hunt' %> | 
	    <% else %>
	      None <br/>
	    <% end %>
	    <% if logged_in? %>
	      <%= link_to "Logout", :controller => 'sessions', :action => 'destroy' %>
	    <% end %>
	    <br/>
      <%= "I have created #{current_user.hunts.size} hunt(s)" %>
      <br/> 
      <% unless current_user.hunts.blank? %>
      <form action="/hunts/show/">
        <select name="id" id="id" onchange="location.href = '/hunts/show/' + this.value;">
          <option/>
          <% for h in current_user.hunts %>

            <option value="<%=h.id%>"><%=h.short_name%></option>
          <% end %>
        </select>
      </form>
      <% end %>
    
    </div>
  </div>
<% end %>