<div style="float: left; width: 450px"><p>
  <b>Name:</b>
  <%=h @hunt.name %>
</p>
<p>
  <b>Desc:</b>
  <%=h @hunt.description %>
</p>
<p>
  <b>Number of Treasures to be Found:</b>
  <%=h @hunt.treasures.size %>
</p>
<p>
  <b>Status:</b>
  <%=h @hunt.state.humanize %>
  |
  <%= link_to "Cancel?", :action => "change_state", :state => "cancel", :id => @hunt.id, :confirm => 'Are you sure you want to cancel?'%>
  |
  <%= link_to "Victory?", :action => "change_state", :state => "victory", :id => @hunt.id, :confirm => 'Are you sure you want to cancel?'%>
  |
</p>

<p>
  <b>Possible Score:</b>
  <%=h @hunt.total_points %>
</p>

<p>
  <b>Treasure Hunters:</b>
  <br/>
  <table cellpadding=20>
    <tr>
  <% for th in @hunt.users %>
      <td>
    <%= gravatar_for(th, {:class => 'photo'}) unless th.email.blank? %> <%=th.login %><br/>
    Score: <%=th.score%><br/>
      </td>
  <% end %>
    </tr>
  </table>
</p></div>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= ENV['RAILS_ENV'] == 'production' ? 'ABQIAAAAbA6V_HyNtbEogtA8ltGhpxRmqLVh6SVQCHDAVjpISk-wVFokTBQbUyagxhdEIcuMdtgVJsB7bEngvw' : 'ABQIAAAAbA6V_HyNtbEogtA8ltGhpxTVn23A_oH_7n0_3g0PHDmJleqwMBQM7TxiELIcZnsty1lkjYfvFIOW3A' %>"></script>

<div id="map" style="float: left; width: 400px; height: 300px"></div>
<% if @hunt.state == "complete" %>
<%=javascript_include_tag 'jquery', 'huntmap'%>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
  	if (GBrowserIsCompatible()) {
  	    map = new GMap2(document.getElementById("map"));
  	    map.enableContinuousZoom();

  	    map.setCenter(new GLatLng(38.90653,-77.035446), 11); // center on dc
  	    map.addControl(new GLargeMapControl());

        <% @hunt.treasures.select { |item| item.lat && item.lng }.each do |tr| %>
        map.addOverlay(createMarker(new GLatLng(<%=tr.lat%>, <%=tr.lng%>)));
        <% end %>
  	}
  });
  
</script>
<% end %>