<h1>New discovery</h1>

<% form_for(@discovery) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :treasure_id %><br />
    <%= f.text_field :treasure_id %>
  </p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>
  </p>
  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', discoveries_path %>
