<h1>sms test loop</h1>

<h2>Step 1:  Enter a username</h2>
<% form_for :sms, :url => { :action => :enterusername } do |form| %>
<%= form.text_field "username" %>
<%= submit_tag "Pick Username" %>
<% end %>
<br />

<h2>Step 2:  Confirm your cell phone for SMS messages</h2>
<% if (@username_entered) %>
<label for="zeep_username">Username: <%= params[:sms][:username] %></label><br />
<iframe 
  style="width: 100%; height: 300px; border: none;" 
  id="zeep_mobile_settings_panel" 
  src="https://secure.zeepmobile.com/subscription/settings?api_key=4e26fd99-9087-481e-b5b9-62984a5cfbaf&user_id=<%= params[:sms][:username] %>"
>
</iframe>
<% end %>
<br />

<h2>Step 3:  Send a test SMS message to your phone</h2>
<% form_for :sendmsg, :url => { :action => :send_sms } do |form| %>
<%= form.text_field "messagebody" %>
<%= submit_tag "Send Message" %>
<% end %>
<br />
<label for="zeep_responsetext">Zeep response: <%= @zeep_response %></label>
<br />

<h2>Step 4:  Now send us back a message!</h2>

Text any message beginning with "azimuth1" back to 88147

<br />
