<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title><%= @page_title || APP_CONFIG[:site_name] %></title>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />	
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />

    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
		<%= stylesheet_link_tag 'base', 'main' %>
		<%= javascript_include_tag 'jquery', 'ui' %>
	</head>
	<body>
		<div id="container">
			<div id="header">
  		  <% if current_user %>
  		  <div id="business-card">
  		    <div style="float: left">
  		      <%= gravatar_for(current_user, {:class => 'photo'}) unless current_user.email.blank? %><br/>
    		    <%= current_user.login %>
    		  </div>
    		  <div style="float: right">
    		    <small>
    		    <%= "My current hunt: "%>
    		    <% if current_user.hunt %>
    		      <%=  "#{current_user.hunt.name} (#{current_user.hunt.state.humanize})"%> | <%= link_to "Change Hunt", :controller => 'hunters', :action => 'change_hunt' %> | 
    		    <% else %>
    		    	None | 
    		    <% end %>
    		    <% if logged_in? %><%= link_to "Logout", :controller => 'sessions', :action => 'destroy' %>
    		    <% end %>
    		    </small>
    		    <br/><br/>
  		      <%= "I have created #{current_user.hunts.size} hunt(s)" %><br/> <%= select("hunt", "id", current_user.hunts.collect{|h| ["#{h.name} [#{h.state.humanize}]", h.id]}) unless current_user.hunts.blank?%>
		      </div>
  		  </div>
  		  <% end %>

        <%= tabnav :main %>        
			</div>
			<div id="content">
			  <%= flash_messages %>
			  
				<%= yield :layout %>
			</div>
      <div id="footer">
      </div>
		</div>
	</body>
</html>